@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    padding: 100px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 400px;
    padding-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 21px 35px rgb(0 0 0 / .10);
    border-radius: 6px;
    overflow: hidden;
}

.card .text {
    padding: 15px;
}

.card p {
    font-size: 32px;
    line-height: 30px;
}

.card h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.card .more-btn {
    width: 100px;
    height: 100px;
    background-color: #ea7f04;
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    color: #fff;
    cursor: pointer;
    z-index: 9;
    font-size: 20px;
    transition: all ease 0.5s;
}

.card .more-btn:hover {
    background-color: #fff;
    color: #ea7f04;
}

.more-text {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff8800;
    padding: 30px;
    overflow-y: auto;
    transition: all ease 0.7s;
}

.more-text::-webkit-scrollbar {
    width: 7px;
    background-color: #b3b3b3;
}

.more-text::-webkit-scrollbar-thumb {
    background-color: #c76d06;
}

.more-text h2 {
    color: #fff;
}

.more-text p {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
}

.more-text.active {
    bottom: 0;
}